*{
    box-sizing: border-box;
}

.search__wrapper{
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    padding: 50px 10px;
}
.searcbox{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.loadMore__button-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.search__button-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}